#!/bin/bash

export HOME='<%= @user_home %>'

# Some brew formula are in a tap - i.e. herp/derp/Package
packageName=${1##*/}

# Don't do anything if it's already installed
'<%= @charlie_dir %>/bin/brew' list "$1" &> /dev/null && exit 0

# Check if exist
curl -fo "<%= @tmp %>/${packageName}.tar.gz" "<%= @repository %>/bottles/${packageName}_latest.<%= @osx_version %>.bottle.tar.gz"
if [[ "$?" -eq 0 ]]; then
    cd /usr/local/Cellar
    
    tar xf "<%= @tmp %>/${packageName}.tar.gz"
    chown -R '<%= @user %>:admin' "/usr/local/Cellar/${packageName}"
    '<%= @charlie_dir %>/bin/brew' link --force "$1"

    rm -f "<%= @tmp %>/${packageName}.tar.gz"

    # Install other dependencies by calling ourselves
    for missing in `<%= @charlie_dir %>/bin/brew missing "$1"`; do
        '<%= @charlie_dir %>/bin/brew-bottle' "$missing"
    done
else
    # No repository for this bottle available
    '<%= @charlie_dir %>/bin/brew' install "$1"
fi
