#!/bin/bash

export HOME='<%= @user_home %>'
unset RUBYOPT
unset GEM_HOME

if [[ "$(whoami)" == "root" ]]; then
    for param in "$@"; do
        parameters="${parameters} \"${param}\""
    done

    exec /usr/bin/su <%= @user %> -c "/usr/local/bin/brew ${parameters}"
else
    exec /usr/local/bin/brew "$@"
fi

